<mat-card>
    <form>
        <div class="form-div">
            <h2>Personal information</h2>
            <mat-form-field floatLabel="auto">
                <mat-label>First name</mat-label>
                <input matInput type="text">
            </mat-form-field>

            <mat-form-field floatLabel="auto">
                <mat-label>Second name</mat-label>
                <input matInput type="text">
            </mat-form-field>

            <mat-form-field floatLabel="auto">
                <mat-label>Date of birth</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field floatLabel="auto">
                <mat-label>Height</mat-label>
                <mat-hint>Height in centimeters</mat-hint>
                <input matInput type="number">
            </mat-form-field>

            <mat-form-field floatLabel="auto">
                <mat-label>Weight</mat-label>
                <mat-hint>Weight in kilograms</mat-hint>
                <input matInput type="number">
            </mat-form-field>
        </div>
        <div class="form-div">
            <h2>Describe your basketball profile</h2>
            <mat-form-field floatLabel="auto">
                <mat-label>Your primary position</mat-label>
                <mat-select>
                    @for (position of positions; track position ) {
                    <mat-option [value]="position.value">{{ position.viewValue }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <h3>Choose up to 3 biggest strengths as a player.</h3>
            <section class="strengths">
                <mat-checkbox>Shooting</mat-checkbox>
                <mat-checkbox>Dribbling</mat-checkbox>
                <mat-checkbox>Defense</mat-checkbox>
                <mat-checkbox>Basketball IQ</mat-checkbox>
                <mat-checkbox>Athleticism</mat-checkbox>
                <mat-checkbox>Rebounding</mat-checkbox>
                <mat-checkbox>Team Player</mat-checkbox>
                <mat-checkbox>Passing</mat-checkbox>
            </section>
            

            <mat-form-field>
                <mat-label>Write something about yourself.</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
    </form>
</mat-card>