<mat-card>
    <form [formGroup]="form">
        <div class="form-div">
            <h2>Personal information</h2>
            <mat-form-field floatLabel="auto">
                <mat-label>First name</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>

            <mat-form-field floatLabel="auto">
                <mat-label>Second name</mat-label>
                <input matInput type="text" formControlName="surname">
            </mat-form-field>

            <mat-form-field floatLabel="auto">
                <mat-label>Date of birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthday">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field floatLabel="auto">
                <mat-label>Height</mat-label>
                <mat-hint>Height in centimeters</mat-hint>
                <input matInput type="number" formControlName="height">
            </mat-form-field>

            <mat-form-field floatLabel="auto">
                <mat-label>Weight</mat-label>
                <mat-hint>Weight in kilograms</mat-hint>
                <input matInput type="number" formControlName="weight">
            </mat-form-field>
        </div>
        <div class="form-div">
            <h2>Describe your basketball profile</h2>
            <mat-form-field floatLabel="auto">
                <mat-label>Your primary position</mat-label>
                <mat-select formControlName="position">
                    @for (position of positions; track position ) {
                    <mat-option [value]="position.value">{{ position.viewValue }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <h3>Choose up to 3 biggest strengths as a player.</h3>
            <section class="strengths">
                <mat-checkbox formControlName="strengths1">Shooting</mat-checkbox>
                <mat-checkbox formControlName="strengths2">Dribbling</mat-checkbox>
                <mat-checkbox formControlName="strengths3">Defense</mat-checkbox>
                <mat-checkbox formControlName="strengths4">Basketball IQ</mat-checkbox>
                <mat-checkbox formControlName="strengths5">Athleticism</mat-checkbox>
                <mat-checkbox formControlName="strengths6">Rebounding</mat-checkbox>
                <mat-checkbox formControlName="strengths7">Team Player</mat-checkbox>
                <mat-checkbox formControlName="strengths8">Passing</mat-checkbox>
            </section>
            

            <mat-form-field>
                <mat-label>Write something about yourself.</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>
    </form>
</mat-card>