<mat-card>
    <mat-card-title>
        <h1>Signup</h1>
    </mat-card-title>
    <form #signupForm="ngForm">
        <mat-form-field>
            <input 
            matInput 
            type="email" 
            name="email"
            ngModel
            placeholder="E-mail Adress"
            #emailInput="ngModel"
            required email>
            <mat-error *ngIf="emailInput.invalid">Please enter valid e-mail.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password"
             matInput 
             placeholder="Password"
             name="password"
             ngModel
             #passwordInput="ngModel"
             required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>

        </mat-form-field>
        <mat-form-field>
            <input type="text"
             matInput 
             placeholder="First Name"
             name="name"
             ngModel
             #passwordInput="ngModel"
             required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid name.</mat-error>

        </mat-form-field>
        <mat-form-field>
            <input type="text"
             matInput 
             placeholder="Surname"
             name="surname"
             ngModel
             #passwordInput="ngModel"
             required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid surname.</mat-error>

        </mat-form-field>
        <button type="submit" mat-raised-button color='primary'>Signup</button>
    </form>
</mat-card>
